/* main styles for henrietta pharmacy site  */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jumbotron-fluid {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  width: 100%;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  transition-property: background-image;
  transition-duration: 5s;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
}

.content-section {
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
  text-align: center;
}

.standout {
  color: skyblue;
  text-shadow: 2px 2px black;
}

.sidebar {
  color: white;
  background-color: black;
  border-radius: 0;
  padding: 1em;
}

.sidebar > p {
  margin-top: 0;
  margin-bottom: 0;
}

.columns {
  padding-top: 1em;
}

.troubleshoot {
  background-color: tomato;
}

.sub-header {
  font-style: italic;
}

.side-header {
  font-weight: bold;
  color: skyblue;
}

#main-pic {
  display: none;
  float: none;
}

#main-content {
  background: linear-gradient(rgba(135, 206, 235, .50), rgba(255, 255, 255, 0.5)), url(https://placeimg.com/200/200/animals);
  background-repeat: no-repeat;
  background-size: cover;
}

.service {
  background-color: skyblue;
  border: initial;
  border-radius: 0;
  margin-bottom: 0px;
}

.responsive-header {
  display: none;
}

footer {
  background-color: black;
  border-top: 5px solid skyblue;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 55px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer > p {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

button {
  margin: 15px 0 15px 0;
}

.container {
  background-color: skyblue;
}

/* media queries */

@media (min-width: 576px) {
  #main-pic {
    display: initial;
    float: left;
    margin: .5em .5em 0 0;
  }

  #main-content {
    background: none;
  }

  .sidebar {
    border-radius: 1em;
  }

  .content-section {
    margin-top: 0;
    margin-bottom: 1em;
    align-content: initial;
    text-align: initial;
  }

  .responsive-header {
    display: block;
  }

  .service {
    margin-left: 1em;
    padding: 1em;
    border-left: 10px solid lightgrey;
    border-radius: 30px 0 30px 10px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.8)), url(https://placeimg.com/640/480/tech);
  }

  .service {
    text-align: center;
    align-content: center;
  }

  .container {
    background-color: white;
  }
}